# PyCity Schools Analysis

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as numpy

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))
print(school_count)

15

In [3]:
# Calculate the total number of students
student_count = len(school_data_complete['student_name'])
print(student_count)

39170

In [4]:
# Calculate the total budget
total_budget = sum(school_data['budget'])
print(total_budget)

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = numpy.mean(school_data_complete['math_score'])
print(average_math_score)

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = numpy.mean(school_data_complete['reading_score'])
print(average_reading_score)

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = round(passing_math_count / float(student_count) * 100,2)
print(passing_math_percentage)
print(passing_math_count)

74.98
29370

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = round(passing_reading_count / float(student_count) * 100,2)
print(passing_reading_count)
print(passing_reading_percentage)

33610
85.81

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = round(passing_math_reading_count /  float(student_count) * 100,2)
print(overall_passing_rate)

65.17

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame-------------------------------------------
district_summary = {"Total Schools": [school_count],
                    "Total Students": [student_count],
                    "Total Budget": [total_budget],
                    "Average Math Score": [average_math_score],
                    "Average Reading Score": [average_reading_score],
                    "Percentage of Students Passing Math": [passing_math_percentage], 
                    "Percentage of Students Passing Reading": [passing_reading_percentage],            
                    "Overall Passing Rate": [overall_passing_rate]
                   }
#create dataframe
district_summary_df = pd.DataFrame(district_summary, columns =["Total Schools", "Total Students", "Total Budget",\
                                                              "Average Math Score", "Average Reading Score",\
                                                            "Percentage of Students Passing Math",\
                                                              "Percentage of Students Passing Reading",\
                                                              "Overall Passing Rate"])

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,74.98,85.81,65.17

In [11]:
# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage of Students Passing Math,Percentage of Students Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.98,85.81,65.17

## School Summary

In [12]:
# Use the code provided to select the school type --------------------------------------------------------------------
school_types = school_data.set_index(["school_name"])["type"]
print(school_types)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
print(per_school_capita,per_school_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64 school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [15]:
# Calculate the average test scores
school_math_average = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_reading_average = school_data_complete.groupby(["school_name"]).mean()["reading_score"]


print(school_math_average, school_reading_average)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64 school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [16]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]

In [17]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

In [18]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
per_school_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [19]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = per_school_passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = {"School Types": school_types,
                      "Students Per School": per_school_counts,
                      "Budget Per School": per_school_budget,
                      "Budget Per School Capita": per_school_capita,
                      "School Math Average": school_math_average,
                      "School Reading Average": school_reading_average,
                        "Percent of School Passing Math": per_school_passing_math,
                       "Percent of School Passing Reading": per_school_passing_reading,
                       "Overall Passing Rate": overall_passing_rate
                      }

In [21]:
per_school_summary_df = pd.DataFrame(per_school_summary, columns = ["School Types", "Students Per School",\
                                                                    "Budget Per School", "Budget Per School Capita",\
                                                                   "School Math Average", "School Reading Average",\
                                                                    "Percent of School Passing Math",\
                                                                    "Percent of School Passing Reading",\
                                                                   "Overall Passing Rate"])

In [22]:
school_spending_df = per_school_summary_df.copy()

In [23]:
# Formatting
per_school_summary_df["Budget Per School"] = per_school_summary_df["Budget Per School"].map("${:,.2f}".format)
per_school_summary_df["Budget Per School Capita"] = per_school_summary_df["Budget Per School Capita"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

,School Types,Students Per School,Budget Per School,Budget Per School Capita,School Math Average,School Reading Average,Percent of School Passing Math,Percent of School Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [24]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
per_school_summary_df.sort_values(["Overall Passing Rate"],ascending = False).head()

,School Types,Students Per School,Budget Per School,Budget Per School Capita,School Math Average,School Reading Average,Percent of School Passing Math,Percent of School Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [25]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
per_school_summary_df.sort_values(["Overall Passing Rate"],ascending = True).head()

,School Types,Students Per School,Budget Per School,Budget Per School Capita,School Math Average,School Reading Average,Percent of School Passing Math,Percent of School Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [26]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_math_by_school = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_math_by_school = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_math_by_school = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_math_by_school = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_math_by_school["math_score"]
tenth_grade_math_scores = tenth_graders_math_by_school["math_score"]
eleventh_grade_math_scores = eleventh_graders_math_by_school["math_score"]
twelfth_grade_math_scores = twelfth_graders_math_by_school["math_score"]

In [27]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
        "9th Math": ninth_grade_math_scores,
        "10th Math": tenth_grade_math_scores,
        "11th Math": eleventh_grade_math_scores,
        "12th Math": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                        9th Math  10th Math  11th Math  12th Math
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_reading_by_school = ninth_graders.groupby(["school_name"]).mean()
tenth_graders_reading_by_school = tenth_graders.groupby(["school_name"]).mean()
eleventh_graders_reading_by_school = eleventh_graders.groupby(["school_name"]).mean()
twelfth_graders_reading_by_school = twelfth_graders.groupby(["school_name"]).mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_reading_by_school["reading_score"]
tenth_grade_reading_scores = tenth_graders_reading_by_school["reading_score"]
eleventh_grade_reading_scores = eleventh_graders_reading_by_school["reading_score"]
twelfth_grade_reading_scores = twelfth_graders_reading_by_school["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
        "9th Reading": ninth_grade_reading_scores,
        "10th Reading": tenth_grade_reading_scores,
        "11th Reading": eleventh_grade_reading_scores,
        "12th Reading": twelfth_grade_reading_scores
})


# Minor data wrangling
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                       9th Reading  10th Reading  11th Reading  12th Reading
Bailey High School       81.303155     80.907183     80.945643     80.912451
Cabrera High School      83.676136     84.253219     83.788382     84.287958
Figueroa High School     81.198598     81.408912     80.640339     81.384863
Ford High School         80.632653     81.262712     80.403642     80.662338
Griffin High School      83.369193     83.706897     84.288089     84.013699
Hernandez High School    80.866860     80.660147     81.396140     80.857143
Holden High School       83.677165     83.324561     83.815534     84.698795
Huang High School        81.290284     81.512386     81.417476     80.305983
Johnson High School      81.260714     80.773431     80.616027     81.227564
Pena High School         83.807273     83.612000     84.335938     84.591160
Rodriguez High School    80.993127     80.629808     80.864811     80.376426
Shelton High School      84.122642     83.441964     84.373786     82.781671
Thomas High School       83.728850     84.254157     83.585542     83.831361
Wilson High School       83.939778     84.021452     83.764608     84.317673
Wright High School       83.833333     83.812757     84.156322     84.073171

## Scores by School Spending

In [29]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [30]:
school_spending_df

,School Types,Students Per School,Budget Per School,Budget Per School Capita,School Math Average,School Reading Average,Percent of School Passing Math,Percent of School Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [31]:
# Categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Budget Per School Capita"], spending_bins, labels = labels, include_lowest=True)

In [32]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["School Math Average"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["School Reading Average"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent of School Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percent of School Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Passing Rate"]

In [33]:
spending_math_scores

Spending Ranges (Per Student)
<$585       83.455399
$585-630    81.899826
$630-645    78.518855
$645-680    76.997210
Name: School Math Average, dtype: float64

In [34]:
# Assemble into DataFrame
spending_summary = {"Math Scores by Spending": spending_math_scores,
                        "Reading Scores by Spending": spending_reading_scores,
                       "Math Passing Rate by Spending": spending_passing_math,
                       "Reading Passing Rate by Spending": spending_passing_reading,
                       "Overall Passing Rate by Spending": overall_passing_spending}

spending_summary_df = pd.DataFrame(spending_summary, columns =["Math Scores by Spending",\
                                                              "Reading Scores by Spending",\
                                                              "Math Passing Rate by Spending",\
                                                              "Reading Passing Rate by Spending",\
                                                              "Overall Passing Rate by Spending"])

# Display results
spending_summary_df

,Math Scores by Spending,Reading Scores by Spending,Math Passing Rate by Spending,Reading Passing Rate by Spending,Overall Passing Rate by Spending
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [35]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [36]:
# Categorize the spending based on the bins

school_spending_df["School Size"] = pd.cut(school_spending_df["Students Per School"], size_bins, labels=labels, include_lowest=True)

In [37]:
# Calculate averages for the desired columns. 
size_math_scores = school_spending_df.groupby(["School Size"]).mean()["School Math Average"]
size_reading_scores = school_spending_df.groupby(["School Size"]).mean()["School Reading Average"]
size_passing_math = school_spending_df.groupby(["School Size"]).mean()["Percent of School Passing Math"]
size_passing_reading = school_spending_df.groupby(["School Size"]).mean()["Percent of School Passing Reading"]
size_overall_passing = school_spending_df.groupby(["School Size"]).mean()["Overall Passing Rate"]

In [38]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = {"Math Scores by School Size": size_math_scores,
                "Reading Scores by School Size": size_reading_scores,
                "Math Pass Rate by School Size": size_passing_math,
                "Reading Pass Rate by School Size": size_passing_reading,
                "Overall Pass Rate by School Size": size_overall_passing}

size_summary_df = pd.DataFrame(size_summary, columns = ["Math Scores by School Size",\
                                                       "Reading Scores by School Size",\
                                                       "Math Pass Rate by School Size",\
                                                       "Reading Pass Rate by School Size",\
                                                       "Overall Pass Rate by School Size"])

# Display results
size_summary_df

,Math Scores by School Size,Reading Scores by School Size,Math Pass Rate by School Size,Reading Pass Rate by School Size,Overall Pass Rate by School Size
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [39]:
# Group the per_school_summary DataFrame by "School Type" and average the results.

type_math_scores = school_spending_df.groupby(["School Types"]).mean()
type_reading_scores = school_spending_df.groupby(["School Types"]).mean()
type_passing_math = school_spending_df.groupby(["School Types"]).mean()
type_passing_reading = school_spending_df.groupby(["School Types"]).mean()
type_overall_passing = school_spending_df.groupby(["School Types"]).mean()


# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["School Math Average"]
average_reading_score_by_type = type_reading_scores["School Reading Average"]
average_percent_passing_math_by_type = type_passing_math["Percent of School Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["Percent of School Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["Overall Passing Rate"]

In [40]:
school_spending_df.columns

Index(['School Types', 'Students Per School', 'Budget Per School',
       'Budget Per School Capita', 'School Math Average',
       'School Reading Average', 'Percent of School Passing Math',
       'Percent of School Passing Reading', 'Overall Passing Rate',
       'Spending Ranges (Per Student)', 'School Size'],
      dtype='object')

In [41]:
type_math_scores

,Students Per School,Budget Per School,Budget Per School Capita,School Math Average,School Reading Average,Percent of School Passing Math,Percent of School Passing Reading,Overall Passing Rate
School Types,,,,,,,,
Charter,1524.250000,9.126881e+05,599.500000,83.473852,83.896421,93.620830,96.586489,90.432244
District,3853.714286,2.478275e+06,643.571429,76.956733,80.966636,66.548453,80.799062,53.672208

In [42]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = {"Math Scores by School Type": average_math_score_by_type,
                "Reading Scores by School Type": average_reading_score_by_type,
                "Math Pass Rate by School Type": average_percent_passing_math_by_type,
                "Reading Pass Rate by School Type": average_percent_passing_reading_by_type,
                "Overall Pass Rate by School Type": average_percent_overall_passing_by_type}

type_summary_df = pd.DataFrame(type_summary, columns = ["Math Scores by School Type",\
                                                       "Reading Scores by School Type",\
                                                       "Math Pass Rate by School Type",\
                                                       "Reading Pass Rate by School Type",\
                                                       "Overall Pass Rate by School Type"])

# Display results
type_summary_df

,Math Scores by School Type,Reading Scores by School Type,Math Pass Rate by School Type,Reading Pass Rate by School Type,Overall Pass Rate by School Type
School Types,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208