# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [198]:
# Dependencies and Setup
import pandas as pd
import numpy as numpy

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [199]:
# Calculate the total number of unique schools
school_count = len(pd.unique(school_data_complete['school_name']))
print(school_count)

15

In [200]:
# Calculate the total number of students
student_count = len(school_data_complete['student_name'])
print(student_count)

39170

In [201]:
# Calculate the total budget
total_budget = sum(school_data_complete['budget'])
print(total_budget)

82932329558

In [202]:
# Calculate the average (mean) math score
average_math_score = numpy.mean(school_data_complete['math_score'])
print(average_math_score)

78.98537145774827

In [203]:
# Calculate the average (mean) reading score
average_reading_score = numpy.mean(school_data_complete['reading_score'])
print(average_reading_score)

81.87784018381414

In [204]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = round(passing_math_count / float(student_count) * 100,2)
print(passing_math_percentage)
print(passing_math_count)

74.98
29370

In [205]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = round(passing_reading_count / float(student_count) * 100,2)
print(passing_reading_count)
print(passing_reading_percentage)

33610
85.81

In [206]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = round(passing_math_reading_count /  float(student_count) * 100,2)
print(overall_passing_rate)

65.17

In [221]:
# Create a high-level snapshot of the district's key metrics in a DataFrame-------------------------------------------
district_summary = ({"Total Schools": [school_count],
                    "Total Students": [student_count],
                    "Total Budget": [total_budget],
                    "Average Math Score": [average_math_score],
                    "Average Reading Score": [average_reading_score],
                    "Number of Students Passing Math": [passing_math_count], 
                    "Percentage of Students Passing Math": [passing_math_percentage], 
                    "Number of Students Passing Reading": [passing_reading_count],
                    "Percentage of Students Passing Reading": [passing_reading_percentage], 
                    "Number of Students Passing Math & Reading": [passing_math_reading_count], 
                    "Overall Passing Rate": [overall_passing_rate]
                   })
#create dataframe
district_summary_df = pd.DataFrame(district_summary, columns =["Total Schools", "Total Students", "Total Budget",\
                                                              "Average Math Score", "Average Reading Score",\
                                                              "Number of Students Passing Math", "Percentage of Students Passing Math",\
                                                              "Number of Students Passing Reading", "Percentage of Students Passing Reading",\
                                                              "Number of Students Passing Math & Reading","Overall Passing Rate"])

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Number of Students Passing Math,Percentage of Students Passing Math,Number of Students Passing Reading,Percentage of Students Passing Reading,Number of Students Passing Math & Reading,Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,29370,74.98,33610,85.81,25528,school_name Bailey High School 0.301447 ...

In [225]:
district_summary_df.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [223]:
# Formatting
district_summary_df["Total Schools"] = district_summary_df["Total Schools"].map("{:,}".format)
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("${:,.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("${:,.2f}".format)
district_summary_df["Number of Students Passing Math"] = district_summary_df["Number of Students Passing Math"].map("{:,}".format)
district_summary_df["Number of Students Passing Reading"] = district_summary_df["Number of Students Passing Reading"].map("{:,}".format)
district_summary_df["Number of Students Passing Math & Reading"] = district_summary_df["Number of Students Passing Math & Reading"].map("{:,}".format)
district_summary_df["Percentage of Students Passing Reading"] = district_summary_df["Percentage of Students Passing Reading"].map("${:,.2f}".format)
district_summary_df["Percentage of Students Passing Math"] = district_summary_df["Percentage of Students Passing Math"].map("${:,.2f}".format)
district_summary_df["Overall Passing Rate"] = district_summary_df["Overall Passing Rate"].map("${:,.2f}".format)

district_summary_df

TypeError: unsupported format string passed to Series.__format__

## School Summary

In [210]:
# Use the code provided to select the school type --------------------------------------------------------------------
school_types = school_data.set_index(["school_name"])["type"]
print(school_types.head())

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Name: type, dtype: object

In [211]:
# Calculate the total student count
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
print(per_school_counts.head())

school_name
Bailey High School      4976
Cabrera High School     1858
Figueroa High School    2949
Ford High School        2739
Griffin High School     1468
Name: Student ID, dtype: int64

In [212]:
# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts
print(per_school_capita.head())

school_name
Bailey High School      628.0
Cabrera High School     582.0
Figueroa High School    639.0
Ford High School        644.0
Griffin High School     625.0
dtype: float64

In [213]:
# Calculate the average test scores
school_math_average = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_reading_average = school_data_complete.groupby(["school_name"]).mean()["reading_score"]


print(school_math_average)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [229]:
# Calculate the number of schools with math scores of 70 or higher
#passing_math_count = per_school_math[(per_school_math["math_score"] >= 70)]
school_passing_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name'])
number_school_passing_math = len(school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name']))
print(number_school_passing_math)

15

In [230]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])
number_school_passing_reading = len(school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name']))
print(number_school_passing_reading)

15

In [231]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = (school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])) and (school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name']))
number_passing_math_and_reading = len((school_data_complete[school_data_complete['reading_score'] >= 70].groupby(['school_name'])) and (school_data_complete[school_data_complete['math_score'] >= 70].groupby(['school_name']))) 

number_passing_math_and_reading

15

In [232]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math / per_school_counts * 100
per_school_passing_reading = school_passing_reading / per_school_counts * 100
overall_passing_rate = passing_math_and_reading / per_school_counts * 100

/Users/oliverzagorin/opt/anaconda3/lib/python3.9/site-packages/pandas/core/roperator.py:25: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return right / left

ValueError: operands could not be broadcast together with shapes (15,2) (15,)

In [241]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = ({"School Types": school_types,
                      "Students Per School": per_school_counts,
                      "Per School Budget": per_school_budget,
                      "Budget Per School Capita": per_school_capita,
                      "School Math Average": school_math_average,
                      "School Reading Average": school_reading_average,
                      "Schools Passing Math": school_passing_math,
                      "Schools Passing Reading": school_passing_math,
                      "Schools Passing Math and Reading": passing_math_and_reading
                      })



per_school_summary_df = pd.DataFrame(per_school_summary, columns = ["School Types", "Students Per School",\
                                                                   "Students Per School", "Budget Per School Capita",\
                                                                   "School Math Average", "School Reading Average",\
                                                                   "Schools Passing Math", "Schools Passing Reading",\
                                                                   "Schools Passing Math and Reading"])

# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

StopIteration:

## Highest-Performing Schools (by % Overall Passing)

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

In [22]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`


# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  80.575873  76.492218
Cabrera High School    83.094697  83.154506  80.575873  83.277487
Figueroa High School   76.403037  76.539974  80.575873  77.151369
Ford High School       77.361345  77.672316  80.575873  76.179963
Griffin High School    82.044010  84.229064  80.575873  83.356164
Hernandez High School  77.438495  77.337408  80.575873  77.186567
Holden High School     83.787402  83.429825  80.575873  82.855422
Huang High School      77.027251  75.908735  80.575873  77.225641
Johnson High School    77.187857  76.691117  80.575873  76.863248
Pena High School       83.625455  83.372000  80.575873  84.121547
Rodriguez High School  76.859966  76.612500  80.575873  77.690748
Shelton High School    83.420755  82.917411  80.575873  83.778976
Thomas High School     83.590022  83.087886  80.575873  83.497041
Wilson High School     83.085578  83.724422  80.575873  83.035794
Wright High School     83.264706  84.010288  80.575873  83.644986

## Reading Score by Grade

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = 
tenth_graders_scores = 
eleventh_graders_scores = 
twelfth_graders_scores = 

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  82.559485  80.912451
Cabrera High School    83.676136  84.253219  82.559485  84.287958
Figueroa High School   81.198598  81.408912  82.559485  81.384863
Ford High School       80.632653  81.262712  82.559485  80.662338
Griffin High School    83.369193  83.706897  82.559485  84.013699
Hernandez High School  80.866860  80.660147  82.559485  80.857143
Holden High School     83.677165  83.324561  82.559485  84.698795
Huang High School      81.290284  81.512386  82.559485  80.305983
Johnson High School    81.260714  80.773431  82.559485  81.227564
Pena High School       83.807273  83.612000  82.559485  84.591160
Rodriguez High School  80.993127  80.629808  82.559485  80.376426
Shelton High School    84.122642  83.441964  82.559485  82.781671
Thomas High School     83.728850  84.254157  82.559485  83.831361
Wilson High School     83.939778  84.021452  82.559485  84.317673
Wright High School     83.833333  83.812757  82.559485  84.073171

## Scores by School Spending

In [24]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [26]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [27]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [28]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [32]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`


# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
type_math_scores = 
type_reading_scores = 
type_passing_math = 
type_passing_reading = 
type_overall_passing = 

# Use the code provided to select new column data
average_math_score_by_type = type_math_scores["Average Math Score"]
average_reading_score_by_type = type_reading_scores["Average Reading Score"]
average_percent_passing_math_by_type = type_passing_math["% Passing Math"]
average_percent_passing_reading_by_type = type_passing_reading["% Passing Reading"]
average_percent_overall_passing_by_type = type_overall_passing["% Overall Passing"]

In [34]:
# Assemble the new data by type into a DataFrame called `type_summary`


# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208